.container{
    width: 100%;
    background-color: black;
    color: #fff;
}
.img{
    width: 100px;
    height: auto;
}
.infos{
    padding: 100px 20px;
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
   
}
.texto{
    height: 100px;
    width: 20%;
}
.texto span{
    font-weight: bold;
    font-size: 18px;
}
.texto p{
    font-size: 16;
}
.p{
    text-align: center;
    padding: 20px;
}