.container{
    padding: 100px 20px;
}
.containertexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    margin-bottom: 50px;
    
}
.containertexto h1{
    font-size: 40px;
}
.containertexto p{
    font-size: 18px;
}
.containercard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
    gap: 20px;
    max-width: 1024px;
    width: 100%;
    
    
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    gap: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px -4px #000;
}
.containerlista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    color: #4a4a4a;
}
.containerlista ul{
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
}
.image{
    width: auto;
    height: 100px;
}
