*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}
.topo{
    max-width: 100%;
    min-height: 50px;
    background-color: #fff;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}
.topo a{
    color: #233032;
    font-size: 15px;
    margin-left: 5px;
    font-weight: bold;
    text-shadow: 5px;
    text-decoration: none;
    text-shadow: 10px ;
    margin-right: 15px;
}
.topo h1{
    font-size: 25px;
}
.topo p{
    color: #2f86d6;
    font-size: 15px;
}
.topo-texto img{
    float: left;
}
.topo-texto{
    margin-right: 505px;
}
.topo-link{
    max-width: 500px;
    margin: 0 auto;
}
.banner{
    width: 100%;
    background-color: #2f86d6; 
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}
.banner p{
    color: #f6f6f6;
    font-size: 15px;
}
.banner h2{
    color: #fff;
    font-size: 25px;
    margin: 15px 0;
}
.texto-banner{
    width: 500px;
}
.banner-tabela-de-precos{
    width: 100%;
    min-height: 80px;
    background-color: #233032;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.banner-tabela-de-precos h2{
    color: #fff;
}
.banner-tabela-de-precos p{
    color: #f6f6f6;
    font-size: 15px;
}
.banner-tabela-de-precos a{
    background-color: #2f86d6;
    padding: 12px;
    color: #fff;
    border-radius: 3px;
}
.tabela-de-precos-texto{
    max-width: 800px;
    margin-right: 300px;
}
.informacoes{
    text-align: center;
    margin: 35px 15px;
    padding: 50px 0;
    background-color: white;
}
.informacoes h2{
    margin-bottom: 20px;
    max-width: 700px;
    margin: 0 auto;
}
.informacoes span{
    color: #2f86d6;
}
.informacoes p{
    font-size: 15px;
    color: #233032;
    max-width: 400px;
}

.informacoes-card{
   display: inline-block;
   max-width: 500px;
   margin-right: 50px;
   margin-top: 80px;
}
.informacoes-card h2{
    font-size: 20px;
    margin: 15px 0px;
}
table{
    text-align: center;
    margin: 15px auto;
    background-color: #fff;
    box-shadow: 7px  7px  50px rgba(47, 134, 214, 1);
    border-radius: 5px;
    padding: 20px;
    border-collapse: collapse;
}
td{
    border: 1px solid #23303248;
    padding: 15px;
}
th{
    width: 200px;
    padding-top: 10px;
    border-right:1px solid #23303248 ;
}
.tabela-infomativa span{
    color: #2f86d6;
}
.th-texto{
    width: 150px;
    font-size: 12px;
    color: #233032;
    padding: 10px;
}
table tbody tr{
    height: 40px;
    border: 1px solid #233032;
}
.tabela-infomativa{
    background-color: #f6f6f6;
    padding-bottom: 50px;
}
.tabela-infomativa h2{
    text-align: center;
    margin: 80px 0;
    padding-top: 50px;
}
table img{
    width: 100px;
    height: 100px;
    margin: 10px 30px; 
    
}
.tabela-marcador{
    background-color: #a8a4a467;
}
.banner-tabela-de-precos-azul{
    width: 100%;
    min-height: 80px;
    background-color: #2f86d6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.banner-tabela-de-precos-azul h2{
    color: #fff;
}
.banner-tabela-de-precos-azul a{
    background-color: #233032;
    padding: 12px;
    color: #fff;
    border-radius: 3px;
}
.rodape{
 width: 100%;
 
}
.rodape span{
    color: #2f86d6;
}
.rodape-logo img{
    width: 80;
    height: 80;
    float: left;
}
.rodape-logo{
    max-width: 350px;
    margin: 80px auto;
}
.rodape-texto{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    line-height: 35px;
    font-weight: bold;
    padding-bottom: 25px;
}
footer{
    width: 100%;
    background-color: #f6f6f6;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
}


