
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;
    max-width: 100%;
    background-color: #292947;
    margin: 50px 0px;
    border-radius: 10px;
    padding: 30px;
}
.input{
    width: 100%;
    height: 36px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #48456c;
    background-color: #363653;
    padding-left: 15px;
    font-size: 15px;
    outline: none;
}
.h1{
    text-align: center;
    color: #fff;
    font-size: 32px;
    
}
.butao{
    border-radius: 20px;
    background-color: #8b8ae1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    width: 50%;
}
.butao:hover{
    opacity: 0.8;
}
.card{
    display: flex;
    justify-content: space-between;
    background-color: #2e2d4e;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}
.img{
    width: 50px;
    height: 50px;
}
.card_p{
    color: #fff;
    font-weight: bold;
}
.card span{
    font-weight: normal;
    color: black;
}
.card button{
    background-color: transparent;
    cursor: pointer;
    border: none;
}