.container{
    width: 100%;
    padding: 100px 20px;
    background-color: #05031b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.container h1{
    font-size: 35px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.cardtexto{
    max-width: 3505px;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.cardtexto p{
    display: flex;
}
.image{
    padding-right: 10px;
    width: auto;
    height: 20px;
}